@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
